@include screen-md {

    main {

        flex-direction: row;
        justify-content: space-evenly;
        min-width: 650px;
        max-width: fit-content;
        height: 100%;

    }

    .section {

        width: 100%;
        
        &__input {

            width: 95%;

        }

        &__output {

            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

        }

        &__radio {

            margin-right: 1.25rem;

        }

    }

    .graph {

        visibility: visible;
        width: 100px;
        height: 100px;
        align-self: center;
        justify-self: center;


    }

    .flex {

        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;

    }
}
