@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  background-color: hsl(185deg, 41%, 84%);
}

label {
  color: hsl(184deg, 14%, 56%);
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
}

header {
  margin-top: 1rem;
  color: hsl(183deg, 100%, 15%);
}

span {
  color: hsl(172deg, 67%, 45%);
}

h2 {
  color: hsl(172deg, 67%, 45%);
  font-weight: 700;
  font-size: 2.5rem;
}

p {
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
}

h6 {
  color: hsl(184deg, 14%, 56%);
}

input {
  background-color: hsl(189deg, 41%, 97%);
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 0.75rem;
  text-align: right;
  color: hsl(172deg, 67%, 45%);
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

input:hover, input:active {
  border: 1px solid hsl(172deg, 67%, 45%);
  outline: hsl(172deg, 67%, 45%);
}

.mercari {
  font-size: 1rem;
}

.reset {
  border: none;
  border-radius: 10px;
  color: hsl(183deg, 100%, 15%);
  background-color: hsl(172deg, 67%, 45%);
  width: 100%;
  padding: 0.75rem;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.reset:active {
  transform: scale(0.98);
}

.radio {
  cursor: pointer;
  margin-left: 0.25rem;
}
.radio__label {
  margin: 0;
}

.dollar {
  color: hsl(184deg, 14%, 56%);
  position: absolute;
  top: 36px;
  left: 10px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

main {
  width: 100%;
  height: 100%;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 400px;
  margin-top: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.section__input {
  display: flex;
  flex-direction: column;
}
.section__input__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;
}
.section__radio {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
.section__radio__container {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.section__output {
  background-color: hsl(183deg, 100%, 15%);
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.section__output__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  overflow-x: hidden;
}

.btn {
  padding: 0.75rem 0.5rem;
  color: hsl(184deg, 14%, 56%);
  background-color: transparent;
  border: none;
  font-size: 1.4rem;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  color: hsl(172deg, 67%, 45%);
}

.btn:active {
  transform: scale(0.93);
}

.active {
  color: hsl(172deg, 67%, 45%);
}

@media screen and (min-width: 764px) {
  main {
    flex-direction: row;
    justify-content: space-between;
    min-width: 650px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .section {
    width: 100%;
  }
  .section__input {
    width: 95%;
  }
  .section__output {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.wrapper {
  width: 100vw;
  height: auto;
  background-color: hsl(185deg, 41%, 84%);
  display: flex;
  flex-direction: column;
  align-items: center;
}/*# sourceMappingURL=index.css.map */