@import 'config';
@import 'mobile';

.wrapper {

    width: 100vw;
    height: auto;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    align-items: center;

}

@import 'responsive';

